*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1f2937;
    color:#f9faf8;
}
nav a{
    text-decoration: none;
    font-size: 24px;
    color:#f9faf8;
}
nav ul{
    display:flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}
#hero-section{
    display:flex;
    width:100%;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    background-color: #1f2937;
}
.hero-text{
    width: 45%;
}
.hero-text h1{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}
.hero-text p {
    font-size: 18px;
    margin: 10px 0;
    color: #e5e7eb;
}
.hero-text button{
    width: 90px;
    height: 35px;
    margin: 10px 0;
    border:none;
    outline: none;
    background-color: #3882f6;
    color:#f9faf8;
    font-weight: bold;
    border-radius: 7px;
}
.hero-image{
    width: 45%;
    height:400px;
}
#services{
    width:100%;
    height: 80vh;
    text-align: center;
    padding: 2rem 0;
}
#services .container{
    display:flex;
    width:100%;
    height: 90%;
    padding: 1rem;
}
.service-item{
    width: 24%;
    height:90%;
    margin: 0 1rem;
    text-align: center;
}
.img-holder{
    border:4px solid blue;
    border-radius: 5px;
    width:100%;
    height: 70%;
    margin-bottom: 10px;
}
#testimonial{
    width: 100%;
    height: 50vh;
    background-color: #e5e7eb;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#testimonial .container{
    width:50%;
}
#testimonial .container > p{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}
blockquote{
    width:100%;
    font-size: 26px;
    font-style: italic;
}
#cta{
    width: 100%;
    height: 40vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
#cta .container{
    display: flex;
    background-color: #3882f6;
    width:80%;
    height: 50%;
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:70%;
    padding-left: 7rem;
}
#cta .container button{
    width: 120px;
    height: 35px;
    margin: auto 0;
    border: 2px solid #fff;
    outline: none;
    background-color: #3882f6;
    color:#f9faf8;
    font-weight: bold;
    border-radius: 7px;
}

footer{
    text-align: center;
    width:100%;
    height:40px;
    padding: 14px;
    background-color: #1f2937;
    color:#f9faf8;

}